body {
    --p-button-warn-background: var(--p-yellow-500);
    --p-button-warn-hover-background: var(--p-yellow-600);
    --p-button-warn-active-background: var(--p-yellow-700);
    --p-button-warn-border-color: var(--p-yellow-500);
    --p-button-warn-hover-border-color: var(--p-yellow-600);
    --p-button-warn-active-border-color: var(--p-yellow-700);
    --p-button-warn-color: #ffffff;
    --p-button-warn-hover-color: #ffffff;
    --p-button-warn-active-color: #ffffff;
    --p-button-warn-focus-ring-color: transparent;
    --p-button-warn-focus-ring-shadow: 0 0 0 0.2rem;

    --p-button-success-background: var(--p-emerald-500);
    --p-button-success-hover-background: var(--p-emerald-600);
    --p-button-success-active-background: var(--p-emerald-700);
    --p-button-success-border-color: var(--p-emerald-500);
    --p-button-success-hover-border-color: var(--p-emerald-600);
    --p-button-success-active-border-color: var(--p-emerald-700);
    --p-button-success-color: #ffffff;
    --p-button-success-hover-color: #ffffff;
    --p-button-success-active-color: #ffffff;
    --p-button-success-focus-ring-color: transparent;
    --p-button-success-focus-ring-shadow: 0 0 0 0.2rem;

    --p-message-warn-color: var(--p-yellow-700);
    --p-message-warn-background: var(--p-yellow-100);

    --p-datatable-header-cell-background: var(--p-primary-color);
    --p-datatable-header-cell-color: white;
    --p-datatable-row-hover-background: var(--p-blue-100);
    --p-datatable-row-selected-background: var(--p-sky-100);
    --p-datatable-row-selected-color: var(--p-blue-600);
    --p-datatable-header-cell-hover-background: var(--p-blue-800);
    --p-datatable-header-cell-hover-color: white;
    --p-datatable-header-cell-selected-background: var(--p-blue-800);
    --p-datatable-header-cell-selected-color: white;
    --p-breadcrumb-background: var(--p-gray-100);
    --p-menubar-base-item-padding: 0.50rem 0.50rem;

}
