userPreferences.*
base_documentaire/**
Data/**
Data/data.ExternalData/**
Logs/**
Project/Sources/settings.4DSettings
Project/DerivedData/**
Project/Trash/**
Resources/cache/**
Resources/fr.lproj/**
Resources/cioMailjet/**
Resources/Attestations/**
Resources/Documents/**
Settings/**
webApp/Cache/**
webApp/Webfolder/uploads/**
Attestations/**
DossierWeb/writePro/**
DossierWeb/customContent/**

4D/DataBase/Resources/**

__MACOSX/**

*.4DB
*.4DC
*.4DD
*.4BK
*backupHistory.json
*.4DIndx
*.4DIndy
*.Match
*.xlf
!Components/*.xlf
*.journal
*.Ink
*.pst
*.swp
*.tmp
*.temp
*.pkn
*.DS_Store
.DS_Store

*.log