<div class="form-container">
    <form [formGroup]="form">
        <p-table
            responsiveLayout="scroll"
            [showGridlines]="true"
            [value]="casItems">
            <ng-template pTemplate="header">
                <tr>
                    <th>N°</th>
                    <th>SP</th>
                    <th>Date</th>
                    <th>Commentaires</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-casNumber>
                <tr>
                    <td>
                        <div class="text-center">
                            <strong>{{ casNumber }}</strong>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <p-checkbox
                                [formControlName]="'hb_cas' + casNumber"
                                [binary]="true"
                            ></p-checkbox>
                        </div>

                    </td>

                    <td>
                        <div class="text-center">
                            <p-datePicker [formControlName]="'hb_casdt' + casNumber"
                                          class="w-full"
                                          styleClass="w-full"
                                          [showIcon]="true"
                                          [showButtonBar]="true"
                                          placeholder="dd/mm/yyyy"
                                          id="dateNaissance" appendTo="body"
                                          dateFormat="dd/mm/yy"></p-datePicker>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <textarea
                                [formControlName]="'hb_caslib' + casNumber"
                                pInputTextarea
                                rows="3"
                                cols="50"
                                placeholder="Description"
                                class="w-full"
                            ></textarea>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <!-- Boutons d'action -->
        <div class="flex justify-end gap-2 mt-5">
            <p-button label="Annuler" severity="secondary"  (click)="cancel()" />
            <p-button label="Sauvegarder" severity="primary" (click)="save()" [loading]="saveLoading" />
        </div>
    </form>
</div>
