<!DOCTYPE html>
<html>
	<head>
		<title><!--4Dhtmlvar HTML_NAME_MODULE --></title>
		
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap.v2.css?<!--4Dhtmlvar UID_SESSION -->" type="text/css">
		<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap-responsive.min.css" type="text/css">
		<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap-editable.css" type="text/css">
		<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/datepicker.css" type="text/css">
		<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/CtiCall.css" type="text/css">
		<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/layout.css?<!--4Dhtmlvar UID_SESSION -->" type="text/css">

		<link href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/multi-select.css" rel="stylesheet" type="text/css">
		<link href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/jquery.tablesorter.pager.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/validationEngine.jquery.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/dragtable-default.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/dragable.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/contextmenu.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/jquery.contextMenu.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/theme.blue.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/tabletree.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap-fileupload.min.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/jquery.minicolors.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/sp.css" />
		
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/main.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/teamguru.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/font-awesome/css/font-awesome.min.css" />

		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/home.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/responsive.css" />
		

		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/teamguru/style_general.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/style_teamguru_tmp.css" />
		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/style_teamguru_tmp_3.css" />

		<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/teamguru/animate.css" />

		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/ui/jquery-ui-1.8.22.custom.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-popover.js" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-editable.js" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap/bootstrap.js?<!--4Dhtmlvar UID_SESSION -->"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.multi-select.js?<!--4Dhtmlvar UID_SESSION -->"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.quicksearch.js?<!--4Dhtmlvar UID_SESSION -->"></script>
		
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/ckeditor/ckeditor.js"></script>
		
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.tablesorter.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.tablesorter.widgets.min.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/widget-grouping.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.tablesorter.pager.v2.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.treeview.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.minicolors.min.js" type="text/javascript"></script>				
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/colResizable-1.3.min.js"></script>
		
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/deployJava.js" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/double.tap.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.dragtable.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.contextmenu.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.ui.position.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/contextMenu.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/tabletree.js"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-fileupload.js"></script>
		
		
		
		<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/jquery.autotab.js"></script>
		<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/jquery.validationEngine-en.js" ></script>
		<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/jquery.validationEngine.js" ></script>
		<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.maskedinput.min.js" ></script>
		
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.form.js"></script>
		<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.livequery.js" ></script>
		
		<link rel="stylesheet" href="/layouts/default/css/jquery.mCustomScrollbar.css?050920131" type="text/css">

		<!--<script src="js/wysihtml5-0.3.0.min.js"></script>-->
		<script type="text/javascript">
			var option_cm
		</script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/core.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/reglement-four.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/NoteFrais.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
		
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/widget-filter.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/widget-editable.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/main.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>

		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/token.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			var actionsClicDroit = {};
			var Menu = {};

			$(function(){
				<!--4Dhtmlvar SCRIPT -->
			});
		</script>

		<style type="text/css">
			/* Override some defaults */
			html, body {
				background-color: #eee;
			}
			body {
				padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
			}
			.container > footer {
				padding:20px 0;
			}

			/* The white background content wrapper */
			.container > .content {
				background-color: #fff;
				padding: 20px;
				margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
				-webkit-border-radius: 0 0 6px 6px;
				-moz-border-radius: 0 0 6px 6px;
				border-radius: 0 0 6px 6px;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
				box-shadow: 0 1px 2px rgba(0,0,0,.15);
			}

			/* Page header tweaks */
			.page-header {
				background-color: #f5f5f5;
				padding: 20px 20px 10px;
				margin: -20px -20px 20px;
			}
		</style>

		<!--#4DIF (NO_STYLE)-->
			<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/style_perso_1.css" />
		<!--#4DENDIF--> 
	</head>

	<body class="fdp-home">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container" >
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/home&lang=<!--4Dvar language -->">
						<img src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->images/teamguru_logo.png" alt="teamargu" height="42" width="42">
						<!--4Dhtmlvar Nom_structure --> <sup class="version"></sup>
					</a>
					<div class="nav-collapse">				
						<ul class="nav" id="fdp-main-menu">
							<!--4Dhtmlvar HTML_MENU_TOP -->
						</ul>
						
						<!--#4DIF (w_connected)-->
							<ul class="nav pull-right" id="fdp-user-menu">
								<!--4Dhtmlvar HTML_NOTIFICATIONS_BAR -->

								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <!--4Dhtmlvar w_userNom --><b class="caret"></b></a>
									
									<ul class="dropdown-menu">
										<li><a href="/USR?action=edit&type=user&uid=<!--4Dhtmlvar w_userUID -->"><i class="fa fa-user"></i><!--4Dhtmlvar LANG_TXT_MY_PROFILE --></a></li>
										<li><a href="/TEA?action=inbox&uid=<!--4Dhtmlvar w_userUID -->"><i class="fa fa-envelope-o"></i><!--4Dhtmlvar LANG_TXT_INBOX --></a></li>
										<!--#4DIF (USR_IS_Manager)-->
											<li><a href="/manager?action=my-subscriptions"><i class="fa fa-credit-card"></i><!--4Dhtmlvar LANG_TXT_MY_SUBSCRIPTION --></a></li>
										<!--#4DENDIF-->
										<li class="divider"></li>
										<li><a href="/deconnexion"><i class="icon-off"></i> <!--4Dhtmlvar LANG_TXT_LOGOUT --></a></li>
									</ul>
								</li>
							</ul>
						<!--#4DENDIF--> 
					</div>
				</div>
			</div>
		</div>

		<div id="fdp-container" class="container" style="width:100%;">
			<div id="fdp-header" class="content-home" style="">
				<div class="page-header-home" style="padding-top:0px !important;">
					<div>
						<div class="slider sliderPCC hiddenOnPhones shwn" data-product="cloud" >
							<div class="wrapper" style="">
								<div class="half55 fadeInLeft Fleft">
									<div  style="width:280px;height:auto;">
										<a  href="http://teamguru.ca" style="margin: 0px;">
											<img class="logo-widget-img" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->images/teamguru_logo.png" alt="teamguru">
										</a>
									</div>
									<br/>
									<h1 class="fadeInLeft white">TeamGURU</h1>
									<hr>
									<ul class="fadeInLeft">
										<li qtlid="1049143"><!--4Dhtmlvar LANG_TXT_HOME_DESC_1 --></li>
										<li qtlid="1049156"><!--4Dhtmlvar LANG_TXT_HOME_DESC_2 --></li>
										<li qtlid="1049169"></li>
									</ul>
									<br><br>
									<p class="fs12"></p>
								</div>
								<div class="half45 Fleft fadeInRight">
									<div class="right-box">
										<p class="fs30"><!--4Dhtmlvar LANG_TXT_HOME_DESC_3 --></p>
										<p class="fs17"><!--4Dhtmlvar LANG_TXT_HOME_DESC_4 --></p>
										<div class="btn-wrapper" style="margin-top:25px;">
											<a href="/USR?action=sign-up&lang=<!--4Dvar language -->" name="teamguru" class="full block relative" data-product="teamguru" data-home="yes" title="teamguru">
												<button id="submit" type="submit" class="fdp_Button  fdp_btn_top" style="float:none;font-size:17px;margin-top:15px !important;width:100% !important;text-align:left;"><i class="fa fa-check"></i>&nbsp;&nbsp;<!--4Dhtmlvar LANG_TXT_SIGN_UP --></button>
											</a>
											<a href="/login&lang=<!--4Dvar language -->" name="teamguru" class="full block relative" data-product="teamguru" data-home="yes" title="teamguru">
												<button id="submit" type="submit" class="fdp_Button  fdp_btn_top" style="float:none;font-size:17px;margin-top:15px !important;width:100% !important;text-align:left;"><i class="fa fa-check"></i>&nbsp;&nbsp;Login</button>
											</a>
											<a href="/contact?action=contact&lang=<!--4Dvar language -->" name="teamguru" class="full block relative" data-product="teamguru" data-home="yes" title="teamguru">
												<button id="submit" type="submit" class="fdp_Button  fdp_btn_top" style="float:none;font-size:17px;margin-top:15px !important;width:100% !important;text-align:left;"><i class="fa fa-check"></i>&nbsp;&nbsp;<!--4Dhtmlvar LANG_TXT_CONTACT_US --></button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fdp-content">
				<div class="row" style="display:none;">
					<div class="fdp_child">
						<!--4Dhtmlvar HTML_MESSAGE -->
						<!--4Dhtmlvar HTML_CONTENT -->
					</div>
					<div class="span6 fdp_float_righ" >
						<div class="buttons">
								<!--4Dhtmlvar_ BTN_LISTE -->
						</div>
					</div>
				</div>
				<div id="teamgurutheme_video_widget-2" class="widget-how-does-teamguru-work widget widget_teamgurutheme_video_widget" style="">
					<div class="flex-row has-multiple-videos">
						<div class="flex-column video-widget-text">
							<div class="custom">
								<div class="fdp-grid fdp-grid-stack fdp-scrollspy-inview fdp-animation-slide-top-medium zoomIn animated">
									<div class="fdp-width-1-1 fdp-first-column">
										<h2 class="fdp-margin-remove fdp-h2">TeamGURU</h2>
										<div class="fdp-margin-remove-vertical fdp-width-xxlarge fdp-margin-auto fdp-text-center fdp-text-large fdp-scrollspy-inview fdp-animation-slide-top-medium"><!--4Dhtmlvar LANG_TXT_HOME_DESC_5 --></div>
									</div>
								</div>
								<div class="fdp-grid fdp-scrollspy-inview uk-animation-slide-bottom-medium tm-icon-block">
									<div class="fdp-width-expand fdp-first-column pulse animated">
										<div class="fdp-clearfix">
										<div class="tm-icon-slick-design"><span class="fa fa-users" style=""><a class="fdp-hidden" href="#">&nbsp;</a></span></div>
										<h3 class="fdp-h3"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_1 --></h3>
										<p class="fdp-home-p"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_1_DESC --></p>
										</div>
									</div>
									<div class="fdp-width-expand fdp-first-column pulse animated">
										<div class="fdp-clearfix">
										<div class="tm-icon-slick-design"><span class="fa fa-calendar"><a class="fdp-hidden" href="#">&nbsp;</a></span></div>
										<h3 class="fdp-h3"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_2 --></h3>
										<p class="fdp-home-p"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_2_DESC --></p>
										</div>
									</div>
								</div>
								<div class="fdp-grid fdp-scrollspy-inview fdp-animation-slide-bottom-medium tm-icon-block">
									<div class="fdp-width-expand fdp-first-column pulse animated">
										<div class="fdp-clearfix">
										<div class="tm-icon-slick-design"><span class="fa fa-check-circle"><a class="fdp-hidden" href="#">&nbsp;</a></span></div>
										<h3 class="fdp-h3"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_3 --></h3>
										<p class="fdp-home-p"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_3_DESC --></p>
										</div>
									</div>
									<div class="fdp-width-expand pulse animated">
										<div class="fdp-clearfix">
										<div class="tm-icon-responsive"><span class="fa fa-stack-exchange"><a class="fdp-hidden" href="#">&nbsp;</a></span></div>
										<h3 class="fdp-h3"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_4 --></h3>
										<p class="fdp-home-p"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_4_DESC --></p>
										</div>
									</div>
								</div>
								<div class="fdp-grid fdp-scrollspy-inview fdp-animation-slide-bottom-medium tm-icon-block">
									<div class="fdp-width-expand fdp-first-column pulse animated">
										<div class="fdp-clearfix">
										<div class="tm-icon-slick-design"><span class="fa fa-dollar"><a class="fdp-hidden" href="#">&nbsp;</a></span></div>
										<h3 class="fdp-h3"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_5 --></h3>
										<p class="fdp-home-p"><!--4Dhtmlvar LANG_TXT_HOME_FEATURE_5_DESC --></p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- #content -->		

			<footer id="fdp-footer" class="footer">
				<div id="footer-container">
					<div class="row" id="footer">
						<div id="nav_menu-2" class="widget medium-4 column widget_nav_menu">
							<div class="menu-footer-container">
								<ul id="menu-footer" class="menu">
									<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64 menu-contact">
										<a href="/contact?action=contact&lang=<!--4Dvar language -->"><!--4Dhtmlvar LANG_TXT_CONTACT_US --></a>
									</li>
									<li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63 menu-terms-of-use">
										<a href="/contact?action=terms&lang=<!--4Dvar language -->"><!--4Dhtmlvar LANG_TXT_TERMS_OF_SERVICE --></a>
									</li>
									<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62 menu-privacy-policy">
										<a href="/contact?action=privacy-policy&lang=<!--4Dvar language -->"><!--4Dhtmlvar LANG_TXT_PRIVACY_POLICY --></a>
									</li>
									<li id="footer-menu-copyright">© <!--4Dhtmlvar LANG_TXT_COPYRIGHT --></li>
								</ul>

								<div class="fdp_lang">
									<ul class="lang-inline">
										<li dir="ltr">
											<a href="&lang=fr">
												<img src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->images/fr_fr.gif"  alt="Français (fr-FR)" title="Français (fr-FR)">	
											</a>
										</li>
										<li class="lang-active" dir="ltr">
											<a href="<!--4Dhtmlvar w_url -->&lang=en">
												<img src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->images/en.gif" alt="English (UK)" title="English (UK)">	
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div id="teamgurutheme_social_widget-2" class="widget medium-4 column widget_teamgurutheme_social_widget">
							<div class="social-widget-container social-widget-container--facebook" style="display:none;">
								<a class="social-widget-link" href="https://www.facebook.com/teamguruSmart">
									<i class="fa fa-facebook social-widget-icon social-widget-icon--facebook"></i> 
									<span class="social-widget-facebook-text">Like us on <b>Facebook</b></span>
								</a>
							</div>
							<div class="social-widget-twitter-feed">
							
							</div>
							<div class="social-widget-container social-widget-container--twitter" style="display:none;">
								<a class="social-widget-link" href="https://twitter.com/teamguru">
									<span class="social-widget-twitter-text"><b>Follow us</b></span> 
									<i class="fa fa-twitter social-widget-icon social-widget-icon--twitter"></i> 
									<span class="social-widget-twitter-username">@teamguru</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			
				<!--4Dhtmlvar Page_Custom_Scrirpts -->
			</footer> 
		</div>

		<input type="hidden" id="Token" value="<!--4Dhtmlvar Token -->" name="VToken"/> 
		<a id="live" href="#" class="hide">live</a>
		<a target="_blank" id="live_tab" href="#" class="hide">live tab</a>
	</body>
	<!--4Dhtmlvar scriptPluginCTI -->
</html>