<!DOCTYPE html>
<html>
<head>
	<title><!--4Dhtmlvar HTML_NAME_MODULE --></title>
	<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap.v2.css?<!--4Dhtmlvar UID_SESSION -->" type="text/css">
	<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap-responsive.min.css" type="text/css">
	<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap-editable.css" type="text/css">
	
	
	<link rel="stylesheet" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/layout.css?<!--4Dhtmlvar UID_SESSION -->" type="text/css">
	<link href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/multi-select.css" rel="stylesheet" type="text/css">
	<link href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/jquery.tablesorter.pager.css" rel="stylesheet" type="text/css">
	<link href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/stydle.css" rel="stylesheet" type="text/css">
	<link href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/bootstrap-image-gallery.min.css" rel="stylesheet" type="text/css">
	<link href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->css/style.css" rel="stylesheet" type="text/css">
	
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/ui/jquery-ui-1.8.22.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-tooltip.js" type="text/javascript" charset="utf-8"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-popover.js" type="text/javascript" charset="utf-8"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-editable.js" type="text/javascript" charset="utf-8"></script>
	
	
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap/bootstrap.js?<!--4Dhtmlvar UID_SESSION -->"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.multi-select.js?<!--4Dhtmlvar UID_SESSION -->"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.quicksearch.js?<!--4Dhtmlvar UID_SESSION -->"></script>
	
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/load-image.min.js?"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/bootstrap-image-gallery.min.js?"></script>
		<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/image_main.js?"></script>
	
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/ckeditor/ckeditor.js?"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.tablesorter.min.js?"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.tablesorter.pager.js?<!--4Dhtmlvar UID_SESSION -->"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.tablesorter.widgets.min.js?"></script>
	<!--<script src="js/wysihtml5-0.3.0.min.js"></script>-->
	

	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/core.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
	
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/main.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/token.js?<!--4Dhtmlvar UID_SESSION -->" type="text/javascript" charset="utf-8"></script>
	
	<link rel="stylesheet" type="text/css" href="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/validationEngine.jquery.css" />

	<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/jquery.autotab.js"></script>
	<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/jquery.validationEngine-en.js" ></script>
	<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/controlSaisie/jquery.validationEngine.js" ></script>
	
	<script src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.form.js?"></script>
	<script type="text/javascript" src="<!--4Dhtmlvar HTML_LAYOUT_PATH -->js/jquery.livequery.js" ></script>
	
	<script type="text/javascript">
	  $(function(){
		<!--4Dhtmlvar SCRIPT -->
	 });
	</script>
	  <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer {
		padding:20px 0;
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

    </style>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/nav"><!--4Dhtmlvar Nom_structure --></a>
				<div class="nav-collapse">				
					<ul class="nav">
						<!--4Dhtmlvar HTML_MENU_TOP -->
					</ul>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> <!--4Dhtmlvar w_userNom --><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/USR?action=edit&uid=<!--4Dhtmlvar w_userUID -->">Mon Profil</a></li>
								<!--4Dhtmlvar HTML_LISTE_NAVIGATEURS -->
								<li class="divider"></li>
								<li><a href="/deconnexion"><i class="icon-off"></i> Quitter</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="content">
			<div class="page-header">
				<div class="row">
				  <!--<h4>4Dhtmlvar HTML_NAME_MODULE </h4>-->
					<div class="span6">
						<ul class="breadcrumb">
							<li><a href="/NAV">Accueil</a> <span class="divider">/</span></li>
							<li><a href="<!--4Dhtmlvar HTML_LINK_NAV -->"><!--4Dhtmlvar HTML_NAME_NAV --></a> <span class="divider">/</span></li>
							<li class="active"><!--4Dhtmlvar HTML_NAME_NAV_MODULE --></li>
						</ul>
					</div>
				  <div class="span6">
						<div class="buttons">
								<!--4Dhtmlvar BTN_LISTE -->
						</div>
				  </div>
				</div>
			</div>
			<div class="row">
				<div class="">
					 <!--4Dhtmlvar HTML_CONTENT -->
				</div>
			</div>
		</div>
		<footer class="footer">
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>TEAMGURU 2016 &copy; </p>
		</footer> 
	</div>
	<input type="hidden" id="Token" value="<!--4Dhtmlvar Token -->" name="VToken"/> 
</body>
</html>
