<!DOCTYPE html>
<html>
<head>
	<title><!--4Dhtmlvar HTML_NAME_MODULE --></title>
	<link rel="stylesheet" href="/layouts/paxtel/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/layouts/paxtel/css/DT_bootstrap.css">
	<link rel="stylesheet" href="/layouts/paxtel/css/layout.css" type="text/css">

	<script src="/layouts/paxtel/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/layouts/paxtel/js/ui/jquery-ui-1.8.22.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/layouts/paxtel/js/ui/jquery.ui.core.js"></script>
	<script src="/layouts/paxtel/js/ui/jquery.ui.widget.js"></script>
	<script src="/layouts/paxtel/js/ui/jquery.ui.position.js"></script>
	
	<script src="/layouts/paxtel/js/bootstrap/bootstrap.js"></script>
	

	<script src="/layouts/paxtel/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf-8" language="javascript" src="/layouts/paxtel/js/DT_bootstrap.js"></script>

	<script src="/layouts/paxtel/js/main.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
	  $(function(){
		<!--4Dhtmlvar SCRIPT -->
	 });
	</script>
	
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">TEAMGURU</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="USRAG?action=show2">Collaborateurs</a></li>
						<li><a href="/TACHAG?action=show2">Taches</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		<!-- header
		================================================== -->
		<header class="jumbotron subhead" id="overview">
			<div class="subnav">
				<ul class="nav nav-pills">
					<li><a href="#modals">Modal</a></li>
					<li><a href="#dropdowns">Dropdown</a></li>
					<li><a href="#scrollspy">Scrollspy</a></li>
					<li><a href="#tabs">Tab</a></li>
					<li><a href="#tooltips">Tooltip</a></li>
					<li><a href="#popovers">Popover</a></li>
					<li><a href="#alerts">Alert</a></li>
					<li><a href="#buttons">Button</a></li>
					<li><a href="#collapse">Collapse</a></li>
					<li><a href="#carousel">Carousel</a></li>
					<li><a href="#typeahead">Typeahead</a></li>
				</ul>
			</div>
			<div class="page-header">
				<h1><!--4Dhtmlvar HTML_NAME_MODULE --> <small>module</small></h1>
			</div>
		</header>
		
		 <!--4Dhtmlvar HTML_VIEW -->
		 
		<footer class="footer">
			<p class="pull-right"><a href="#">Back to top</a></p>
			<p>TEAMGURU 2016 &copy;</p>
		</footer> 
	</div>
</body>
</html>
