
<!--#4DIF (FIX_PARAM_LH_SAISIE)-->
<div class="well span2 listeh">
<!--4Dhtmlvar NAV_BODY -->
</div>
<!-- formulaire  -->
<div class="span9">
<!--#4DELSE--> 
<!-- formulaire  -->
<div class="span12">
<!--#4DENDIF-->

	<!--#4DIF (HTML_VIEW_ERROR#"")-->
	<div class="fdp_message alert alert-<!--4Dhtmlvar MESSAGE_ETAT-->">
		<a class="close" data-dismiss="alert" href="#">×</a>
		Erreur : <!--4Dhtmlvar HTML_VIEW_ERROR -->
	</div>
	<!--#4DELSE--> 

	<!--4Dhtmlvar HTML_TABLE_WORKFLOW -->
	<!--4Dhtmlvar HTML_VIEW -->
	<!--#4DENDIF-->
</div>
 <!-- formulaire  -->
 
<!--4Dhtmlvar HTML_DEVERSEMENT -->
<!--4Dhtmlvar HTML_MODALS -->
<!--4Dhtmlvar MODAL_DELETE_EDIT -->	
	
	
