#list_table_basedoc_parent{
    margin: 2px 7px 0px 7px;
}

#list_table_basedoc_parent select{
    width:60px !important;
}

#titre_popup_basedoclist{
    color:#666;
}


#list_table_basedoc input {
    height: 20px !important;
    width: 20px !important;
}

#list_table_basedoc td{
    padding: 5px 5px 5px 5px;
}

#iw_form_popup_child_basedoc textarea{
    min-height: 150px;
}

.iw_popup_form_medium .iw_btn_browse{
    padding: 7px 11px 10px 10px !important;
    height: 32px !important;
}

.iw_popup_form_medium input,.iw_popup_form_medium select{
    height: 32px !important;
}

