
	
	
	#icon_s {
		position: relative;
		margin-left:15px;
		float: left;
		top: -10px;
	}
	
    .slidVolMic{
		 float: right;
		 width: 100px;
		 margin-top: 10px;
		 margin-right: 5px;		
		
    }
	
	#icon_e {
		position: relative;
		margin-left:15px;
		float: left;
		top: -10px;
	}
	
	
    
    #div_vol{
    position: fixed;
	      overflow: hidden;
	     display:none;
	      width: 150px;
	      margin-left: 10px;
	      margin-top: 300px
    }
	
	.div_Emplace_Icon_Vol{
		background-color:Transparent;
		background-repeat:no-repeat;
		border: 0;
		 margin-top: 5px;
		width: 32px;
    	height: 32px;
		color: white;
		overflow: hidden;
    }
    
    #div_Icon_Vol1{
		background-image: url(images/icone_volume.png); 
		
    }
    
    #div_Icon_Vol2{
		background-image: url(images/icone_mic.png); 
    }
	
	
	#bt_register {
		position:relative;
		left:10px;
	}
	
	#register {
		background-image: url(images/Procom-webphone_03.png); 
		background-color:Transparent;
		background-repeat:no-repeat;
		border: 0;
		padding-right:45px;
		padding-bottom:5px;
		width: 139px;
    	height: 27px;
		color: white;
	}
	
	#unregister {
		background-image: url(images/Procom-webphone_05.png);
		background-color:Transparent;
		background-repeat:no-repeat;
		border: 0;
		padding-right:45px;
		padding-bottom:5px;
		width: 139px;
    	height: 27px;
		color: white;
	}
	
	#all_pad {
		position:absolute;
		top:10px;
		left:10px; 
	}
	
	
	
	.ui-slider .ui-slider-handle {
    	width: 5px;
    	height: 10px;
    }
	
	
	.ui-widget {
		font-size:0.6em;
	}
	
	ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
		width:200px;
	}

	
	.num_call {
		background-image: url(images/Procom-webphone_25.png);
		background-color:Transparent;
		background-repeat:no-repeat;
		border: 0;
		width: 76px;
    	height: 32px;
	}
	
	
	
	
	