body{
    background: #fff;
    cursor: auto;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

#content-home{
width:100%;
padding-top: 0px;
padding-right: 0px;
}
div#main * {
    font-family: "lato",sans-serif;
}
.sliderPCC.shwn {
    display: block;
}
.slider {
    width: 100%;
    overflow: hidden;
}

div.wrapper {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.sliderPCC * {
    font-weight: 200;
}

.sliderPCC h1 {
    font-size: 55px;
    line-height: 65px;
}

.fadeInLeft {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.fadeInRight {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.white {
    color: #ffffff !important;
}

a.white, a.white:visited, a.white:link, a.white:hover, a.white:active, .white {
    color: #fff;
}

hr {
    height: 1px;
    width: 90%;
    margin: 0 0 0 5%;
    font-size: 0px;
    line-height: 0px;
    background: transparent;
    color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
}

.sliderPCC hr {
    border-bottom: solid 3px #0d72b9;
    margin: 15px 0;
    width: 100px;
}

.Fleft {
    float: left;
}
.half45 {
    width: 45%;
}
.half55 {
    width: 55%;
}
.Fleft {
    float: left;
}

.fs17 {
    font-size: 17px;
    line-height: 21px;
}

.fs30 {
    font-size: 30px;
    line-height: 34px;
}

.sliderPCC{
	background: transparent url(../images/bg_teamguru.png) no-repeat 50% 50%;
	background-size: cover;
	width:100% !important;
}

.sliderPCC .wrapper{
	padding: 80px 10px !important;
}
.sliderPCC ul li {
    color: #FFF;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    list-style: none;
}

.sliderPCC p {
    color: #FFF;
}

.sliderPCC .right-box {
    border: solid 1px #0d72b9;
    padding: 35px 20px;
    text-align: center;
}

.sliderPCC .right-box .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    color: #000;
    border-radius: 3px;
    background-color: #FFCC00;
    border: solid 1px #FFCC00;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    padding: 10px 25px;
    margin-top: 20px;
}


/****************************** footer***************************************/


.social-widget-link {
    transition: color .3s ease-out;
    color: #fff;
}

@media screen and (min-width: 40.0625em) {

	#footer-container {
		padding-bottom: 2.3rem;
		padding-top: 1.875rem;/*3.875rem;*/
	}
	
	.logo-widget-link {
		border-radius: 0 0 .5rem .5rem;
		margin: -3.875rem auto 1rem;
	}
	
	.widget_teamgurutheme_logo_widget {
		clear: none;
		float: right;
		max-width: 22%;
	}
	
	/*.widget_teamgurutheme_logo_widget {
		clear: both;
	}*/

	.social-widget-facebook-text, .social-widget-twitter-text, .social-widget-twitter-username {
		display: inline-block;
	}

	.social-widget-icon--twitter {
		border: none;
		font-size: 2.25rem !important;
		height: auto;
		margin-left: .75rem;
		width: auto;
	}

	.footer .column, .footer .columns {
		position: relative;
		padding-left: .9375rem;
		padding-right: .9375rem;
		float: left;
	}
	
	.medium-4 {
		width: 33.33333%;
	}
	
	.logo-widget-text {
		font-size: 1.25rem;
		line-height: 1.4;
	}
	
	.links-widget-img {
    max-height: 100px;
    max-width: 230px;
   }

   .widget_teamgurutheme_video_widget .flex-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	}
	
	.widget_teamgurutheme_video_widget .widgettitle {
		padding-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		max-width: 75%;
	}
	
	.video-widget-video {
		width: 50%;
	}
	


}

@media screen and (min-width: 64.0625em) {

	.footer .column, .footer .columns {
		position: relative;
		padding-left: .9375rem;
		padding-right: .9375rem;
		float: left;
	}
	
	.large-12 {
		width: 100%;
	}
	.has-multiple-videos .video-widget-text {
		/*width: 40%;*/
	}
	.video-widget-text {
		margin-bottom: 0;
		width: 70%;
	}
	.page-title, .widget_teamgurutheme_blog_widget .widgettitle, .widget_teamgurutheme_row_widget .widgettitle, .widget_teamgurutheme_video_widget .widgettitle, .widget_teamgurutheme_wide_image_widget .widgettitle {
		font-size: 2.75rem;
		line-height: 1.06818;
		margin-bottom: 4rem;
	}
	.video-widget-video {
		width: 30%;
	}

}

.logo-widget-text {
    font-size: 14px;
    text-align: center;
}

#footer .widget_nav_menu a {
    transition: color .3s ease-out;
    color: #fff;
    display: inline-block;
    font-size: 1.25rem;
}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}

#footer, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #header, #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
       font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#footer, #header-container {
    position: relative;
}
#footer-container  .row {
    margin: 0 auto;
    max-width: 75rem;
}


.logo-widget-link {
    display: block;
    margin: 1rem -.9375rem;
    padding: 1rem;
}
#logo-link, .logo-widget-link, .slick-loading .slick-list {
   /* background: #fff;*/
}
#footer-container a {
    color: #fff;
	font-size:14px;
    line-height: inherit;
	text-decoration:none;
}
#footer-container a:hover {
    color: #fff;
}
.label, .vevent abbr, a {
    text-decoration: none;
}
.row, select {
    width: 100%;
}

.social-widget-container {
    display: inline-block;
    margin-left: .25rem;
    vertical-align: middle;
    white-space: nowrap;
}

.social-widget-twitter-feed {
    background: #fff;
    border-radius: .5rem;
    color: #000;
    display: none;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1.5rem 0;
    padding: 1.5rem;
    word-break: break-word;
}

.widget_teamgurutheme_social_widget {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.social-widget-icon {
    border-radius: 1000px;
    display: inline-block;
    font-size: 2.25rem !important;
    height: 50px;
    line-height: 44px;
    margin: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}


#footer .widget_nav_menu li+li {
    margin-top: .5rem;
}
#footer .widget_nav_menu li {
    font-size: 1.125rem;
    line-height: 1.2;
    padding-bottom: .25rem;
}

#footer-copyright{
width:100%;
}

#footer .widget_nav_menu ul {
    list-style: none;
    margin: 0;
}

.widget_nav_menu li+li#footer-menu-copyright {
    margin-top: 3.4375rem;/*7.4375rem;*/
}

/********************************************************/
.links-widget-list {
    list-style: none;
    margin: 0;
    text-align: center;
}
.links-widget-item {
    display: inline-block;
    margin-right: 1rem;
}

.links-widget-link .links-widget-img {
    transition: opacity .3s ease-out;
    opacity: .4;
}

.links-widget-img {
    margin-bottom: 1rem;
    /*max-height: 60px;
    max-width: 100px;*/
    opacity: .4;
    width: auto;
}

a img {
    border: none;
}
img {
    display: inline-block;
    vertical-align: middle;
}

.widget_teamgurutheme_links_widget{
height:200px;
padding-top: 63px;;
}

.widget widget_teamgurutheme_links_widget .row {
    margin: 0 auto;
    max-width: 75rem;
}

/******************************************************vide*/
.widget_teamgurutheme_video_widget {
    background: #F4F4F4;
    padding: 3rem 0;
	margin-bottom:25px;
}

.widget_teamgurutheme_video_widget .flex-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 100rem !important;
}

.video-widget-text {
    font-size: 1rem;
    margin-bottom: 2.8125rem;
    width: 100%;
}
.flex-column {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
}

.video-widget-text>:last-child {
    margin-bottom: 0;
}
.video-widget-text p {
    font-size: 1rem;
    line-height: 2;
}

.video-widget-video {
    width: 100%;
}

.video-widget-img {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
    display: none;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.video-widget-text p {
    font-size: 16px;
    line-height: 2;
    color: #656565;
	text-align:justify;
}

#fdp-content {
    background-color: #f4f4f4;
}

.flex-centered{
    display: flex;
    align-items: center;
}

.width-50x{
    width: 50%;
}