html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#fdp-container {
	min-height:100%;
	position:relative;
}

#fdp-header {
	background:#ededed;
	padding:0px;
}

#fdp-content {
	padding-bottom:125px; /* Height of the footer element */
}

#fdp-footer {
	background:#000;/*#ffab62;*/
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	border-top: 10px #0d72b9 solid;
	display:none;
}


#footer-container {
    color: #fff;
    padding-bottom: 1.25rem;
    padding-top: 3.25rem;
    background-color: #636363;
}

.container > footer {
    padding: 0px !important; /*20px 0;*/
}

