/*login form*/
#fdp-login-container .container{
  max-width: 475px;
}
#fdp-login-container .container > .content {
  min-height: 200px;
}

#fdp-login-container .page-header {
  padding: 5px 10px 5px !important;
}

#fdp-login-container .fdp_Button{
	width:100% !important;
}

#fdp-login-container a {
  color: #0d72b9;
}

#fdp-login-container .logo{
  background-image: url("../images/logo.png") !important;
  background-color: #fff !important;
  background-size: cover !important;	
  height:133px;
  width:330px;
  margin-bottom:15px;
}

body.login {
  background-image: url("../images/login-fond.png") !important;
  background-color: #fff !important;
  background-size: cover !important;
}

.connexion {
  font-weight: bold;
  font-size: 25px;
  color: #0d72b9;
  font-family: Arial;
  margin: 15px 0 5px 15px;
}

.fa-check {
  color: #ffffff !important;
}

/*app page*/
@media screen and (min-width: 1100px) {

  .navbar-inner{
    background-image: url(../images/header-fond.png);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
  }
  
}

#fdp-main-menu a{
	padding-top:10px;
	color:#fff;
}

#fdp-user-menu .dropdown-toggle {
	color:#fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fcb846;
  background-color: transparent;
}

#fdp-user-menu .open a {
	color:#000;
}

#fdp-user-menu .open .dropdown-toggle,#fdp-user-menu .open .caret {
	color:#fff;
}

.navbar .nav .dropdown-toggle .caret {
  margin-left: 5px;
}

fieldset {
  margin-bottom: 0px;
}

@media screen and (min-width: 1100px) {
  input.span7,
  select.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 100%;/*updt kev 250px*/
  }

}

.fdp-blue-bold .cell{
  font-weight:bold !important;
  color:#0d72b9 !important;
}

/*icons*/
.fdp-icon-green{
  color: green;
  font-size: 25px !important;
}

.fdp-icon-red{
  color: red;
  font-size: 25px !important;
}

#int-usager-table{
  max-width:100%;
  margin-right: 2%;
}

/*usager*/
@media screen and (min-width: 1100px) {

  #int-usager-table{
    max-width:40%;
    margin-right: 1%;
  }
  
}

.fdp-min-width-320px{
  min-width:320px;
}


.fdp-min-width-210px{
  min-width:210px;
}

.fdp-min-width-130px{
  min-width:130px;
}

.fdp-min-width-110px{
  min-width:110px;
}

.fdp-min-width-90px{
  min-width:90px;
}

.fdp-min-width-60px{
  min-width:60px;
}

/*user menu*/
.navbar .nav.pull-right {
  float: left;
  margin-right: 0;
  background-color: #36739c;
  max-width: 190px;
  padding-top: 7px;
  border-radius: 5px;
}

.fdp-btn-green{
  background-color:#49b956;
}

.fdp-btn-green:hover {
  background-color: #49b956;
}

.fdp-btn-orange {
  background-color: #ffbc0a;
}

.fdp-btn-orange:hover {
  background-color: #e6ad14;
}

.fdp-btn-red {
  background-color: #e25252;
}

.fdp-btn-red:hover {
  background-color: #e25252;
}

/*top menu*/
#fdp-main-menu .dropdown .dropdown-menu  a {
  color: #020a10;
}

#dropdown-submenu a{
  color:#000;
}

.fdp-btn-brown{
  background-color:#928154;
}

.fdp-btn-brown:hover{
  background-color:#928154;
}

/*menu top*/
.dropdown-menu a {
    padding: 6px 15px 8px 10px !important
}

.navbar .nav > li > a {
    padding: 7px 5px 10px !important;
}

.navbar-inner ul li, .navbar-inner p, .navbar-inner a {
    font-size: 12px !important;
}

.navbar-inner a:hover{
  color:#ffec8e !important;
}

.navbar-inner .container{
  width:100%;
}

/*tableSorter color row */
.fdp-color-red {
  color: #e25252;
}

/* Ajout Scanu Remy - remy@connect-io.fr - 21/04/2022*/
.overflowOverlay{
  overflow-y: overlay!important;
}

/* Ajout Scanu Remy - remy@connect-io.fr - 08/06/2022*/
.rowB {
  display: -ms-flexbox;
  display: flex!important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    width: 800px!important;
    max-width: 800px!important;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    width: 1140px!important;
    max-width: 1140px!important;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: pointer;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  border-color: #e62154;
  background-color: #e62154;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

tbody tr.cursor {
  cursor: pointer;
}

tbody tr.cursor.selected {
  background-color: #B0BED9!important;
}

/* Ajout Scanu Remy - remy@connect-io.fr - 27/07/2022*/
/* Centrer horizontalement et verticalement un contenu dans une div */
.g-align-center-vertically-and-horizontally{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Centrer verticallement un contenu dans une div col-X (padding-left de 15px) à remplacer 15px par une autre valeur si besoin */
.g-align-center-vertically{
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(calc(-100% - 15px), -50%);
  transform: translate(calc(-100% - 15px), -50%);
}

/* Centrer verticallement un contenu dans une div col-X (padding-left de 15px) à remplacer 15px par une autre valeur si besoin */
.g-align-center-vertically-col-9{
  position: absolute;
  left: 33%;
  top: 50%;
  -webkit-transform: translate(calc(-100% - 15px), -50%);
  transform: translate(calc(-100% - 15px), -50%);
}

/* Aligner en bas à gauche un contenu dans une div col-X (padding-left de 15px) à remplacer 15px par une autre valeur si besoin */
.g-align-bottom-left{
  position: absolute;
  left: 0%;
  top: 100%;
  -webkit-transform: translate(15px, -100%);
  transform: translate(15px, -100%);
}

.g-align-bottom-leftB{
  position: absolute;
  left: 0%;
  top: 100%;
  -webkit-transform: translate(15px, 60%);
  transform: translate(15px, 60%);
}

.d-none{
  display: none;
}

.d-flex{
  display: flex;
}

.d-inline-block{
  display: inline-block;
}

.g-ml-10{
  margin-left: 10px;
}

.g-mr-10{
  margin-right: 10px;
}

.g-mt-10{
  margin-top: 10px!important;
}

.g-mb-10{
  margin-bottom: 10px!important;
}

.g-mb-20{
  margin-bottom: 20px!important;
}

.g-mx-0{
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.g-width-20{
  width: 20px!important;
}

.g-width-30{
  width: 30px;
}

.g-width-40{
  width: 30px;
}

.g-width-50{
  width: 50px;
}

.g-width-75{
  width: 75px;
}

.g-width-90{
  width: 90px!important;
}

.g-width-100{
  width: 100px!important;
}

.g-width-120{
  width: 120px!important;
}

.g-width-150{
  width: 150px!important;
}

.g-width-365{
  width: 365px!important;
}

.bootbox.modal {
  z-index: 999999999!important;
}

.g-width-100x{
  width: 100%!important;
}

.g-width-75x{
  width: 75%!important;
}

.g-float-left{
  float: left;
}

.g-float-right{
  float: right;
}

input[type="checkbox"][disabled]{
  background-color: #007bff;
}

.g-color-white{
  color: white!important;
}

.g-color-red{
  color: red!important;
}

.g-color-green{
  color: green!important;
}

.g-color-orange{
  color: orange!important;
}

tr.g-color-white .cell {
  color: white!important;
}

tr.g-color-red .cell {
  color: red!important;
}

tr.g-color-green .cell {
  color: green!important;
}

tr.g-color-orange .cell {
  color: orange!important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.d-inline-flex {
  display: -webkit-inline-box !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.row-selected{
  background: #0d72b9!important;
}

.row-selected > div{
  color: #fff !important;
}

/* Ajout Scanu Remy - remy@connect-io.fr - 09/03/2023*/
.overflow-x{
  overflow-x: auto!important;
}

.g-px-0{
  padding-right: 0px;
  padding-left: 0px;
}

.g-py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.g-pxy-0{
  padding: 0px;
}

.row .cell{
  padding: 0px!important;
}

.header .cell{
  padding: 9px 8px!important;
}

/* Ajout Scanu Remy - remy@connect-io.fr - 05/04/2023*/
#notificationError li{
  list-style-type: disclosure-closed;
  margin-left : 15px!important;
}

/* Ajout Scanu Remy - remy@connect-io.fr - 17/05/2023*/
.g-width-inherit{
  width: inherit!important;
}

.g-height-35{
  height: 35px!important;
}

.g-height-100{
  height: 100px;
}

@media print {
  @page {
    size: landscape;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .modal {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0px !important;
    position: initial !important;
    overflow: visible !important;
    zoom: 75%;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    background-clip: initial !important;
  }

  .modal-dialog {
    margin: 0 auto !important;
  }

  .modal-body {
    overflow: visible !important;
  }

  .modal-footer,
  #printBtn,
  #saveBtn,
  #resetBtn {
    visibility: hidden;
  }

  .d-none-print {
    display: none !important;
  }

  .print-table {
    width: 100%;
  }

  .print-table td,
  .print-table th {
    word-break: break-all;
    white-space: normal;
  }

  .print-table-container {
    overflow: visible !important;
  }

  .print-table-container table {
    width: 100% !important;
    margin: 0;
    border-spacing: 0;
  }

  .page-break {
    page-break-before: always;
  }
}

/* Button Sizes
------------------------------------*/
/* Extra Small */
.btn-xs {
  line-height: 1.4;
  padding: 0.14286rem 0.5rem;
  font-size: 0.78571rem;
}

/* Medium */
.btn-md {
  line-height: 1.4;
  padding: 0.57143rem 1.42857rem;
  font-size: 1.07143rem;
}

/* Extra Large */
.btn-xl {
  line-height: 1.4;
  padding: 0.92857rem 1.85714rem;
  font-size: 1.28571rem;
}

/* Extramly Large */
.btn-xxl {
  line-height: 1.4;
  padding: 1.07143rem 2.14286rem;
  font-size: 1.5rem;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.g-px-5{
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.g-py-5{
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

/* Pour harmoniser la taille des tr à cause de l'ajout des boutons avec rowfy je dois adapter la hauteur*/
.rowfy > tbody tr.body {
  height: 25px;
}

.rowfy > tfoot tr.footer {
  height: 35px;
}

/* Ajout Scanu Remy - remy@connect-io.fr - 21/07/2023*/
@media (max-width: 991px) {

  .modal {
    max-height: 80vh; /* Définissez la hauteur maximale du modal (80% de la hauteur de la vue) */
    overflow-y: auto; /* Activer le défilement vertical si le contenu dépasse la hauteur maximale */
  }

  .modal .modal-dialog {
    max-height: calc(100% - 30px); /* La hauteur maximale de la boîte de dialogue du modal, en laissant de l'espace pour l'en-tête et le pied de page */
    overflow-y: auto; /* Activer le défilement vertical si le contenu de la boîte de dialogue dépasse la hauteur maximale */
  }

}

@media (min-width: 576px) {

  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media (min-width: 768px) {

  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media (min-width: 992px) {

  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }

}

@media (min-width: 1200px) {

  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}

@media (max-width: 991px) {

  input[type="search"] {
    display: block!important;
    width: 100%; /* Vous pouvez définir la largeur à 100% pour occuper toute la largeur disponible */
    box-sizing: border-box; /* Permet de conserver la largeur définie dans 100%, tout en incluant les bordures et les rembourrages dans la largeur totale */
  }

  /* CSS */
  .table-responsive {
    overflow-x: auto;
  }

  /* Pour empêcher que la table ne déborde du conteneur */
  .table-responsive table {
    width: 100%;
    max-width: 100%; /* Cette propriété est importante pour éviter que la table ne dépasse du conteneur */
  }

}

/* Ajout Scanu Remy - remy@connect-io.fr - 21/08/2023*/
@media (max-width: 480px) {

  .modal.fade.in {
    top: 0%!important;
  }

  .iw_margin_left_5px {
    margin-left: 0px!important;
  }

  .fdp_Button, a.fdp_Button {
    margin : 5px!important;
  }
  
}

.montantInputNB, .quantiteInputNB {
  width: inherit !important;
}

.background-none {
  background: none!important;
}

.background-green {
  background: green!important;
}

.cellFixed{
  position: absolute;
  /* left: auto; */
  /* top: auto; */
  /* background-color: lightblue; */
  /* margin: 1px; */
  border: none;
  border-bottom: 0;
}

#hebergePhoneEdit:hover{
  cursor: pointer;
}

@media print {

  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
  }
  
}