.form-horizontal .control-group {
margin-bottom: 2px;
}

.form-horizontal .control-group {
margin-bottom: 2px;
}
/*
.table th, .table td {
padding: 3px 4px;
line-height: 16px;
text-align: left;
vertical-align: top;
border-top: 1px solid #DDD;
}*/

.btn-small {
padding: 2px 6px;
font-size: 10px;
line-height: 18px;
}

.well {
padding: 10px;
margin-bottom: 10px;
background-color: #F0F8FC;
border: 1px solid #CFF2FF;
}


label {
font-size: 10px;
font-weight: bold;
line-height: 14px;
color:#2088B1;
}

h4 {
font-size: 15px;
line-height: 10px;
color: #2088B1;
}



.nav > li > a:hover {
text-decoration: none;
background-color: #005580;
color: #FFF;
}
/*
a:hover {
color: #FFF;
}*/

.nav {
margin-bottom: 8px;
}
.nav-tabs > li > a:hover {
border-color: #EEE #EEE #F01717;
}

.fontAlerte{
	font-weight: bold;
	//font-size: 15px;
	background-color: #005580;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border: 1px solid #ABD9EB;
height: 14px;
font-size:11px;
-webkit-border-radius: initial;
-moz-border-radius: initial;
border-radius: initial;
}

select, input[type="file"] {
height: 24px;
border: 1px solid #ABD9EB;
}

textarea {
border: 1px solid #ABD9EB;
font-size:11px;
-webkit-border-radius: initial;
-moz-border-radius: initial;
border-radius: initial;
}

.btn {
-webkit-border-radius: initial;
-moz-border-radius: initial;
border-radius: initial;
}
.typeahead {
margin-top: 0px;
}

.groupe {
border: 1px solid #ABD9EB;
background: #F9FDFF;
margin: 10px 0 !important;
}
.modal .groupe {
margin: 10px 40px !important;
}

legend {
margin-bottom: 10px;
color: #2088B1;
}

.table th, .table td {
line-height: 10px;
}

.table th {
color: #2088B1;
}



.page-header {
background-color: #F7F7F7;
padding: 10px 10px 5px;
}

.breadcrumb {
background: transparent;
}

table thead {
background-color: #ECF8FF;
}

.table-bordered {
-webkit-border-radius: initial;
-moz-border-radius: initial;
border-radius: initial;
}
body {
font-size:11px;
}

.pagesize {
height: 24px;
margin:0px;
}

.pagedisplay{
padding: 3px 4px !important;
}

.btn_filter{
margin-right: 3px;
}

.control-group {
margin-bottom: 6px;
}

.form-search .btn{
font-size: 12px;
line-height: 14px;
}

.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selected {
font-size: 11px;
height: 17px;
line-height: 17px;
}

.ms-selection {
margin-top: 24px;
}

.ms-container .ms-list {
border: 1px solid #ABD9EB;
-webkit-border-radius:initial;
border-radius:initial;

}

.ms-container ul.ms-list {
margin-top: 2px;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
background-color: #F7FCFF;
}

.table tbody tr.info td {
background-color: #D9EDF7;
}

@media (min-width: 1200px)
select.span2 {
width: 174px;
}