.ARIAL_09 {
	font-family: Arial;
	font-size: 9px;
	font-weight: bold;
}

.ARIAL_14 {
	font-family: Arial;
	font-size: 14px;
}

.Bt_Liste {
	font-family: Times New Roman;
	font-size: 11px;
}

.Bt_Onglet {
	font-family: Times New Roman;
	font-size: 12px;
}

.Bt_Page {
	font-family: Times New Roman;
	font-size: 11px;
	font-weight: bold;
}

.Bt_Page1 {
	font-family: Times New Roman;
	font-size: 11px;
	font-weight: bold;
}

.Bt_Page2 {
	font-family: Times New Roman;
	font-size: 11px;
	font-weight: bold;
}

.Bt_Page3 {
	font-family: Times New Roman;
	font-size: 11px;
	font-weight: bold;
}

.Bt_Page4 {
	font-family: Times New Roman;
	font-size: 11px;
	font-weight: bold;
}

.Champs {
	font-family: Segoe UI;
	font-size: 11px;
}

.EcranChamps {
	font-family: Tahoma;
	font-size: 10px;
}

.EcranLibellés {
	font-family: Times New Roman;
	font-size: 11px;
	font-style: italic;
}

.En_tete_champ {
	font-family: Segoe UI;
	font-size: 11px;
}

.Impression_entete_ligne {
	font-family: Arial;
	font-size: 8px;
	font-weight: bold;
}

.Impression_lignes {
	font-family: Arial;
	font-size: 8px;
}

.LIbelle_gras {
	font-family: Segoe UI;
	font-size: 11px;
	font-weight: bold;
}

.ligne_ressources {
	font-family: Arial;
	font-size: 10px;
}

.liste_box_lignes {
	font-family: Segoe UI;
	font-size: 12px;
}

.Numero {
	font-family: Arial;
	font-size: 24px;
}

.Par_défaut {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.Print_Lignes {
	font-family: Arial;
	font-size: 9px;
}

.Print_Lignes_Small {
	font-family: Tahoma;
	font-size: 9px;
}

.PrintAction {
	font-family: Arial;
	font-size: 11px;
}

.PrintAction_G {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
}

.Stat_Titre {
	font-family: Times New Roman;
	font-size: 24px;
	font-weight: bold;
}

.Stat_Titre1 {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.Stat_Titre2 {
	font-family: Times New Roman;
	font-size: 24px;
	font-weight: bold;
}

.Style_Champ {
	font-family: Segoe UI;
	font-size: 11px;
}

.Style_En_tete_champ {
	font-family: Segoe UI;
	font-size: 11px;
}

.Tableau_Petit {
	font-family: Arial;
	font-size: 9px;
}

.titre_1 {
	font-family: Segoe UI;
	font-size: 14px;
	font-weight: bold;
}

.titre_fenetre {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}

.Titre_Mois {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

.TitreDépart {
	font-family: Times New Roman;
	font-size: 24px;
	font-weight: bold;
}

.TitreSSP {
	font-family: System Font;
	font-size: 24px;
}

.TNR_08 {
	font-family: Times New Roman;
	font-size: 8px;
}

.TNR_09 {
	font-family: MS Sans Serif;
	font-size: 9px;
}

.TNR_09g {
	font-family: Times New Roman;
	font-size: 9px;
	font-weight: bold;
}

.TNR_10 {
	font-family: MS Sans Serif;
	font-size: 10px;
}

.TNR_11 {
	font-family: Times New Roman;
	font-size: 11px;
}

.TNR_11g {
	font-family: Times New Roman;
	font-size: 11px;
	font-weight: bold;
}

.TNR_11g1 {
	font-family: Times New Roman;
	font-size: 11px;
	font-weight: bold;
}

.TNR_12 {
	font-family: Times New Roman;
	font-size: 12px;
}

.TNR_12g {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-weight: bold;
}

.TNR_12gs {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}

.TNR_12i {
	font-family: MS Sans Serif;
	font-size: 11px;
	font-style: italic;
}

.TNR_12s {
	font-family: MS Sans Serif;
	font-size: 11px;
	text-decoration: underline;
}

.TNR_13 {
	font-family: Times New Roman;
	font-size: 11px;
}

.TNR_14 {
	font-family: MS Sans Serif;
	font-size: 14px;
}

.TNR_14g {
	font-family: MS Sans Serif;
	font-size: 14px;
	font-weight: bold;
}

.TNR_14g1 {
	font-family: MS Sans Serif;
	font-size: 14px;
	font-weight: bold;
}

.TNR_15 {
	font-family: Times New Roman;
	font-size: 12px;
}

.TNR_16 {
	font-family: Times New Roman;
	font-size: 14px;
	font-weight: bold;
}

.TNR_18 {
	font-family: Times New Roman;
	font-size: 18px;
}

.TNR_18i {
	font-family: Times New Roman;
	font-size: 18px;
	font-style: italic;
}

.TNR_24 {
	font-family: MS Sans Serif;
	font-size: 24px;
}

.TNR_36 {
	font-family: MS Sans Serif;
	font-size: 36px;
}

.TNRGen9_12 {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.TNRGEN9_12P {
	font-family: MS Sans Serif;
	font-size: 12px;
}

.Variables_petit {
	font-family: Segoe UI;
	font-size: 7px;
	font-weight: bold;
}

