

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
 /* font-family: Poppins-Regular;*/
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	/*border: none !important;kev*/
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c4d3f6;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width:100%; /*960px;*/
  border-radius: 0px;/*kev*/
  overflow: hidden;
  float:left;/*added*/
}

@media screen and (min-width: 1100px) {
.wrap-table100 {
  width:59%; /*960px;*/
  border-radius: 0px;/*kev*/
  overflow: hidden;
  float:left;/*added*/
}

}
.table {
  width: 100%;
  display: table;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.fdp_resp_table .row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #ffffff;
  background: #0d72b9;
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  /*font-family: Poppins-Regular;*/
  font-size: 14px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  
 /*
  gf 13/12/2022 : Réduction de la hauteur des lignes. 
  padding-top: 12px;
  padding-bottom: 12px;*/
  border-bottom: 1px solid #f2f2f2;

  vertical-align: middle;
}

.row.header .cell {
 /* font-family: Poppins-Regular;*/
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 12px;/*kev*/
  padding-bottom: 12px;
    padding-right: 3px;
    padding-left: 3px;
}

.row.footer .cell {
     padding-left: 3px;
 }

.row .cell:nth-child(1) {
  /*width: 360px;*//*kev*/
  padding-left:10px;/* 40px;*/
}
/*
.row .cell:nth-child(2) {
  width: 160px;
}

.row .cell:nth-child(3) {
  width: 250px;
}

.row .cell:nth-child(4) {
  width: 190px;
}*/


/*
  RS 13/12/2022 : Padding-bottom 15px pour les tableaux.
*/
.table {
  padding-bottom: 15px !important;
}

.table, .row {
  width: 100% !important;
}

.row .body:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  .row .cell {
    /*font-family: Poppins-Regular;*/
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
}




.iw-bordered .row .cell {
    border: 1px solid #0d72b9;
    padding-left: 10px;
}

.iw-bordered .iw-alternate{
  background: #e6f1f8;
}

.iw-alternance-only .iw-alternate{
  background: #e6f1f8;
}    

.iw-header{
    width: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: #0d72b9;
    padding-bottom: 5px;
}

/*
@media print {
 @import "print.css";
}*/