.iw_div_content {
    background-color: #fdfdfd;
    border: 1px solid #f5f5f5;
    margin-bottom: 5px;
}

.well{
	border:0px !important;
}

.section_titre{
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0px 5px 0px;
    text-transform: uppercase;
}

section_titre_1{
    font-size: 14px;
    font-weight:normal !important;
}

.etl_section form{
        padding: 1px;
}

.row .cell:nth-child(1) {
    text-align: left;
}

.etl_table .body .cell{
	padding-top:2px !important;
	padding-bottom:2px !important;
}

.iw_padding_right_5px{
  padding-right:5px !important;
}

.etl_table .header{
	background: #ababab !important;
}

.etl_table input{
	width: 100% !important;
	margin-bottom: 0px !important;
}

.iw_etl_table_pv .iw_cell_1{
    width:20%;
}

.iw_etl_table_pv .iw_cell_2{
    width:15%;
}

.iw_etl_table_pv .iw_cell_3{
    width:15%;
}

.iw_etl_table_pv .iw_cell_4{
    width:50%;
}

#iw_form_popup_etl_print{
    display: none !important;
}

.iw_print .etl_table .body .cell {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

img[src="data:image/png;base64,"],button:disabled,button[disabled] {
    display: none !important;
}

.iw_txt_signature{
    margin-bottom:5px;
}
