

.iw_col_left{
  width:50%;
}

.iw_col_right{
  width:50%;
  border: 1px solid #f5f5f5; 
}

.form-horizontal .control-group{
	width:100%;
}

#fiche_form textarea{
	width: 100% !important;
    height: 65px !important;
}

#fiche_form select{
	width: 100% !important;
	height: 35px;
}

#fac_cloture{
	margin-left:0px !important;
}

#fiche_form .fdp_Button{
    width: 150px !important;
    padding: 6px 4px !important;
    font-size: 12px !important;
    font-weight: bold;
    float:right !important;	
}

.iw_piece_entete{
	float: left;
	width: 100%;
	margin-bottom:15px;	
    background-color: #fdfdfd;
    border: 1px solid #f5f5f5;
}

.iw_piece_entete .iw_div_content{
  background:none !important;
  border:none !important;
}

.iw_piece_entete .iw_col_right{
	border-top:none !important;
	border-right:none !important;
	border-bottom:none !important;
	border-left:1px solid #f5f5f5 !important;
}

.iw_piece_pied{
	float: left;
	width: 100%;
	margin-top:15px;
}

.iw_piece_lignes{
	float: left;
	width: 100%;
}

.iw_piece_lignes #list_table{
	margin-top:0px;
}

#facture_ligne .control-group,.iw_third .control-group{
  width: 33.33%;
}

#facture_ligne input{
  width: 100%;
}

.jconfirm .jconfirm-box {
    max-width: 900px !important;
}

input{
	height: 35px !important;
}

#fac_cloture{
	width:35px !important;
}

input[type=checkbox] {
    border: 1px solid #0d72b9 !important;
}

#fiche_form .fa {
    padding-right: 5px !important;
}

.iw_button_olive{
	background-color:#98987b;
}

.iw_button_olive:hover{
	background-color:#98987b;
}

.ui-autocomplete{
	 width: 350px ;
}
.iw_breadcrumb_left {
    float: left;
    width: 100%;
}

.fac_print_content{
	display:none !important;
}

.iw_print_page .iw_div_content{
	border:none !important;
}

.iw_print_page {
	font-size:14px;
}

.iw_txt_red{
	color:#de0000;
}

.iw_print_pv .iw_cell_1 {
    width: 30% !important;
}

.iw_print_pv .iw_cell_2 {
    width: 6% !important;
}

.iw_print_pv .iw_cell_3 {
    width: 10% !important;
}

.iw_print_pv .iw_cell_4 {
    width: 10% !important;
}

.iw_print_pv .iw_cell_5 {
    width: 12% !important;
}

.iw_print_pv .iw_cell_6 {
    width: 12% !important;
}

.iw_print_pv .iw_cell_7 {
    width: 10% !important;
}

.iw_print_pv .iw_cell_8 {
    width: 10% !important;
}

.iw_fac_pied{
	text-align:right;
}

.iw_fac_pied .iw_fac_pied_libelle,.iw_fac_pied  label{
	font-weight:bold;
}

.iw_section_lignes{
	width:100% !important;
	float:left !important;
	margin-top:20px !important;
}

.portlet_local_loue{
	width:50%;
}