select{
    width:100% !important;
}

#list_table_equipements,#list_table_prestations{
    width:100%;
}

.btns_list_right{
    margin-top:0px;
}

#list_table{
    margin-top:5px;
}

.iw_side_by_side{
    width:20%;
    padding-right: 7px;
}

.iw_side_by_side input{
    width:100%;
}
.page-header{
    margin-bottom: 5px;
}

#gl_intervention_content textarea{
    width:100% !important;
}

.iw_piece_entete {
    background: none !important;
    border: none !important;
}

/****************** tables *************/
.cell.montant{
	width: 120px;
	text-align:left;
}

.row .footer input{
    background: #e6f1f8;
}

.cell.montant input{
    background: #f4edca;
}

#intervention_pied{
    width:100%;
    border: 1px solid #eaeaea;
    padding-right: 5px;
}

#list_table_equipements .row.footer .cell,#list_table_prestations .row.footer .cell{
    padding: 6px 5px 0px 0px;
    border: none;
}

#intervention_pied .row.footer .cell{
    padding: 6px 5px 0px 0px;
    border: none;
}

.jconfirm .jconfirm-box {
    max-width: 900px !important;
}