.iw_col_left{
  width:50%;
}

.iw_col_right{
  width:50%;
  border: 1px solid #f5f5f5;
}

.form-horizontal .control-group{
	width:100%;
}

#fiche_form textarea{
	width: 100% !important;
    height: 65px !important;
}

#fiche_form select{
	/*width: 100% !important;2020*/
	height: 35px;
}

#fac_cloture{
	margin-left:0px !important;
}

#fiche_form .fdp_btn_top{
    width: 150px !important;
    padding: 4px 4px !important;
    font-size: 10px !important;
    font-weight: bold;
    float:right !important;	
    text-transform: uppercase;
}

.iw_piece_entete{
	float: left;
	width: 100%;
	margin-bottom:15px;	
    background-color: #fdfdfd;
    border: 1px solid #f5f5f5;
}

.iw_piece_entete .iw_div_content{
  background:none !important;
  border:none !important;
}

.iw_piece_entete .iw_col_right{
	border-top:none !important;
	border-right:none !important;
	border-bottom:none !important;
	border-left:1px solid #f5f5f5 !important;
}

.iw_piece_pied{
	float: left;
	width: 100%;
	margin-top:15px;
}

.iw_piece_lignes{
	float: left;
	width: 100%;
}

.iw_piece_lignes #list_table{
	margin-top:0px;
}

#facture_ligne .control-group,.iw_third .control-group{
  width: 33.33%;
}

#facture_ligne input{
  width: 100%;
}

.jconfirm .jconfirm-box {
    max-width: 900px !important;
}

input{
	height: 32px !important;
}

#fac_cloture{
	width:35px !important;
}

input[type=checkbox] {
    border: 1px solid #0d72b9 !important;
}

#fiche_form .fa {
    padding-right: 5px !important;
}

.iw_button_olive{
	background-color:#98987b;
}

.iw_button_olive:hover{
	background-color:#98987b;
}

.ui-autocomplete{
	 width: 350px ;
}


/********LOCATIONS****************/

#locations_content .control-group{
  width:33.33%;
}

#btn_recalculer.fdp_Button,#btn_recalculer_irl_loc.fdp_Button{
	width: 255px !important;
}

#locations_content{
	margin-bottom: 10px;
}

.iw-icon span.fa-calendar {
    position: relative;
    right: 0;
    left: 93%;
    display: block;
    bottom: 0;
    z-index: 2;
    top: -25px;
    font-size: 20px;
}