@media screen and (min-width: 480px) {
	.navbar-fixed-top .container, .container {
		width: 95%;
		margin: 0 auto;
    }
}

.iw_cg_width_sextuplet{
    width:16.66% !important;
}

.iw_cg_width_sextuplet input,.iw_cg_width_sextuplet select{
    width:100% !important;
}