@media screen and (min-width: 480px) {

	.navbar-fixed-top .container, .container {
		width: 95%;
		margin: 0 auto;
    }
	  .fdp_Button{
	   width:175px !important;
	  }
	  

}

.iw-icon span.fa-calendar {
    position: relative;
    right: 0;
    left: 95%;
    display: block;
    bottom: 0;
    z-index: 2;
    top: -25px;
    font-size: 20px;
}

.iw_sg .iw-icon span.fa-calendar {
  position: relative;
  right: 0;
  left: 86%;
  display: block;
  bottom: 0;
  z-index: 2;
  top: -25px;
  font-size: 20px;
}