
.iw_notes_sp .body .cell {
    padding: 12px 5px 5px 5px !important;
}

.adresse_ligne_autre input{
	width:100% !important;
}

#hb_nom, #hb_prenom{
	text-transform: uppercase;
}

.fdp_blue{
	color:#0d72b9;
}