#int-usager-table {
    max-width: 100% !important;
    margin-right: 0% !important;
}

.wrap-table100 {
   width: 100% !important;
}

#iw_form_usager{
	display:none !important;
}

#iw_form_usager_child .control-group {
    padding-bottom: 7px !important;
}

.iw_second_column{
	padding-left:15px;
}

.iw_title{
    width: 100%;
    float: left;
    padding: 5px 5px 5px 16px;
    color: #888;
    font-weight: bold;
}

#iw_form_usager_child .portlet.tabbable .portlet-body,#iw_form_popup_child .portlet.tabbable .portlet-body {
    padding: 0px !important;
}