.iw-popups input{
    cursor: pointer;
}

.jconfirm-box textarea{
	height: 100%;
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: none;
    /*min-height: 400px;*/
    margin:0px;
}


.portlet  .tab-content {
    padding: 10px !important;
    margin: 0px;
}