@media print {
  .hide-on-print {
    display: none !important;
  }
}

.layout-topbar {
  position: fixed;
  height: 5rem;
  z-index: 997;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--surface-card);
  transition: left .2s;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  //min-height: 100vh;
  justify-content: space-between;
  padding: 7rem 1rem 0rem 1em;
  transition: margin-left .2s;
}

.logo {
  height: 60px;
}
