/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body, html {
  font-size: 14px;
}

body {
  margin: 0px;
}

.p-datepicker {
  height: 300px !important;
}
