
.iw_cg_width_quarte input.span7, .iw_cg_width_quarte textarea.span7, .iw_cg_width_quarte .uneditable-input.span7 {
    width: 100% !important;
}

.iw_cg_width_third input.span7, .iw_cg_width_third textarea.span7, .iw_cg_width_third .uneditable-input.span7 {
    width: 100% !important;
}

.ms-list, input:not([type]), input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=color], textarea {
    padding: 5px 10px !important;
}

select {
    height: 32px !important;
    /* margin-bottom: 6px !important; */
    margin: 0 0 0rem !important;
}

.form-horizontal .control-group {
    padding-right: 8px !important; 
}

.form-horizontal .control-group {
    padding-top: 0px;
}

.portlet form.well {
  border:none;
  padding: 10px 10px 5px 15px;
}
  
/****/

.btns_list_right .fdp_Button{
    width: 160px !important;
    padding: 4px 4px !important;
    font-size: 12px !important;
    font-weight: bold;
    float:right !important;	
}

.iw_fiche_pl{
    margin-bottom: 7px;
}

/****multiselect***/
#iw_selected_list_title,#iw_selectable_list_title{
    display:block !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #888888;
}

#iw_selectable_list_title{
	display:block !important;
}
#iw_selected_list_title{
	display:block !important;
	padding-bottom: 0px;
}

.iw_stype_groupe label {
    display: none;
}

/****************************************************************/
/* btn nxt input*/
/****************************************************************/
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.mb-3 .btn{
	width:40px;
}
.mb-3 input,.mb-3 select{
    width:calc(100% - 80px);
    float:left;
}

.input-group-append-mb3 .btn, .input-group-prepend-mb3 .btn {
    position: relative;
	z-index: 2;
    height: 32px;
    border-radius: 0;
}

.input-group-append-mb3 {
    margin-left: -1px;
}

.input-group-mb3 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-mb3>.input-group-append-mb3:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group-mb3>.input-group-append-mb3:last-child>.input-group-text-mb3:not(:last-child),.input-group-mb3>.input-group-append-mb3:not(:last-child)>.btn, .input-group-mb3>.input-group-append-mb3:not(:last-child)>.input-group-text-mb3, .input-group-mb3>.input-group-prepend-mb3>.btn, .input-group-mb3>.input-group-prepend-mb3>.input-group-text-mb3 ,.mb-3 select{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-mb3>.input-group-append-mb3>.btn, .input-group-mb3>.input-group-append-mb3>.input-group-text-mb3, .input-group-mb3>.input-group-prepend-mb3:first-child>.btn:not(:first-child), .input-group-mb3>.input-group-prepend-mb3:first-child>.input-group-text-mb3:not(:first-child), .input-group-mb3>.input-group-prepend-mb3:not(:first-child)>.btn,.input-group-mb3>.input-group-prepend-mb3:not(:first-child)>.input-group-text-mb3 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#fiche_form select,#fiche_form input {
    height: 32px !important;
}

.fiche_form select,.fiche_form input {
    height: 32px !important;
}

.control-label-group{
    width:100%;
}

/***webagl create group*/

.iw_cg_width_half.input-group-mb3 input,.iw_cg_width_half.input-group-mb3 select{
    width:calc(100% - 40px) !important;
}


/*-----form agl---*/
.input-group-mb3 .controls{
    width: 100% !important;
}

.iw_mb3_add .controls input,.iw_mb3_add .controls select{
    width:calc(100% - 40px) !important;
    float:left;
    margin-bottom: 0px;
}

.iw_mb3_add_updt .controls input,.iw_mb3_add_updt .controls select{
    width:calc(100% - 80px) !important;
    float:left;
    margin-bottom: 0px;
}

.input-group-mb3 .iw_btn_updt{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.iw_mb3_add input{
    margin-bottom: 0px !important;
}
/****************************************************************/
.iw_piece_entete {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fdfdfd;
    border: 1px solid #f5f5f5;
}

.iw_col_left{
    width:50%;
    float: left;
}

.iw_col_right{
    width:50%;
    float: left;
    /*border: 1px solid #f5f5f5;*/ 
}
/************ multiselect*************/
.ms-container .ms-selectable{
    width: 50%;
    float: left;
    margin-right: 0px;    
}

.ms-container .ms-selection{
    width: calc(50% - 5px) !important;
    float: left;
    margin-left: 5px;    
}

.ms-container .ms-selectable .ms-list,.ms-container .ms-selection .ms-list{
    width:100%;
}

.ms-container{
    background:none !important;
}

/******bootstrap switch ***/
.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label{
    line-height: 30px;
}