#iw_notes,#iw_notes_sp,#iw_notes_actions,#iw_notes_af{
	display:none !important;
}

.iw_btns_usager_actions button{
	width:160px !important;
}

.iw_filtres{
	width:258px !important;
}

 input[type=file], input[type=checkbox], input[type=radio], label.inline, select {
    margin: 0px 0px 0px 0px !important;
}

